@use './partials/var' as *;

$fa-font-path: "./webfonts" !default;

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

@import 'bootstrap/scss/bootstrap';

// HEADER Style config
body {
    background-color: $body-color;
}

header {
    background-color: $primary;

    a {
        color: white;
    }
}

//GENERAL
.debug {
    border: 2px solid white;
}
//CUSTOM BUTTON MUST HAVE THIS FORM <a class="my-btn"><span>"TEXT HERE"</span><i></i></a>
.my-btn {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 0.75rem 1.5rem;
    transition: 0.5s;
}

.my-btn:hover {
    letter-spacing: 0.25rem;
    background: $secondary;
    color: $secondary;
    box-shadow: 0 0 50px 10px $secondary;
    cursor: pointer;
}

.my-btn::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #27282c;
}

.my-btn span {
    position: relative;
    z-index: 1;
}

.my-btn i {
    position: absolute;
    inset: 0;
    display: block;
}

.my-btn i::before {
    content: "";
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid $secondary;
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

.my-btn:hover i::before {
    left: 20%;
    width: 20px;
}

.my-btn i::after {
    content: "";
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid $secondary;
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

.my-btn:hover i::after {
    left: 80%;
    width: 20px;
}


// CHARACTER INFO Page Style Config
.info {
    h1 {
        color: $secondary;
    }

    ul {
        li {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid black;

            span {
                color: $secondary;
            }
        }
    }
}


// CHARACTER LIST Page Style Config
.info-box {
    display: inline-block;
    background-color: $primary;
    width: 30px;
    height: 30px;
}

.form-floating {
    >label {
        top: -5px;

        &::after {
            background-color: transparent !important;
        }
    }

    .form-control {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 0px solid $primary;
        border-radius: 0;
        box-shadow: 0 2px 0 0 $primary;

        &:focus {
            border: 0px solid $primary;
            box-shadow: 0 0 0 2px $primary;
            // border-bottom: 0px solid $primary;
            // box-shadow: 0 0 0.8rem 0.25rem $primary;
        }
    }
}

//Imported CSS
.breadcrumb {
    --bs-breadcrumb-padding-x: 0;
    --bs-breadcrumb-padding-y: 0;
    --bs-breadcrumb-margin-bottom: 1rem;
    --bs-breadcrumb-bg: ;
    --bs-breadcrumb-border-radius: ;
    --bs-breadcrumb-divider-color: #6c757d;
    --bs-breadcrumb-item-padding-x: 0.5rem;
    --bs-breadcrumb-item-active-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
    margin-bottom: var(--bs-breadcrumb-margin-bottom);
    font-size: var(--bs-breadcrumb-font-size);
    list-style: none;
    background-color: var(--bs-breadcrumb-bg);
    border-radius: var(--bs-breadcrumb-border-radius);
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: var(--bs-breadcrumb-item-padding-x);
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, "/")
        /* rtl: var(--bs-breadcrumb-divider, "/") */
    ;
}

.breadcrumb-item.active {
    color: var(--bs-breadcrumb-item-active-color);
}

.fixed-top,
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav,
.sb-nav-fixed .sb-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#layoutAuthentication {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#layoutAuthentication #layoutAuthentication_content {
    min-width: 0;
    flex-grow: 1;
}

#layoutAuthentication #layoutAuthentication_footer {
    min-width: 0;
}

#layoutSidenav {
    display: flex;
}

#layoutSidenav #layoutSidenav_nav {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
    transform: translateX(-225px);
}

#layoutSidenav #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -225px;
}