@use './partials/var' as *;

$fa-font-path: "./webfonts" !default;

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.pixel-text {
    font-family: 'Silkscreen', cursive;
}

footer {
    margin-top: 3.5rem;
}

// HEADER Style config
header{
    a {
        color: white;
    }
}

//GENERAL
.debug {
    border: 2px solid white;
}

//CUSTOM BUTTON
.bm-btn {
    font-family: 'Silkscreen', cursive;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    width: 120px;
    height: 45px;
    // main color
    background: $primary;
    border: 0px;
    position: relative;
    transition: .3s;
    box-shadow:
        // up and right color shadow
        inset -2px 2px 1px 1px #b20e2a,
        // bottom color shadow
        inset -2px -2px 1px 1px #4d0713,
        // left color shadow
        inset 2px 0px 1px 1px #990d25
}

.bm-btn:active {
    top: 2px;
}

.bm-btn:hover {
    // main color
    background: $secondary;
    box-shadow:
        // up and right color shadow
        inset -2px 2px 1px 1px #ffc301,
        // bottom color shadow
        inset -2px -2px 1px 1px #b27d01,
        // left color shadow
        inset 2px 0px 1px 1px #cc8f01
}

.bm-btn::after {
    content: '';
    background: #000;
    position: absolute;
    left: -2%;
    top: 0;
    width: 104%;
    height: 100%;
    z-index: -1
}

.bm-btn::before {
    content: '';
    background: #000;
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 110%;
    z-index: -2
}


// CHARACTER INFO Page Style Config
.info {
    h1 {
        color: $secondary;
    }

    ul {
        li {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid black;

            span {
                color: $secondary;
            }
        }
    }
}


// CHARACTER LIST Page Style Config
.info-box {
    display: inline-block;
    background-color: $primary;
    width: 30px;
    height: 30px;
}

.form-floating {
    >label {
        top: -5px;

        &::after {
            background-color: transparent !important;
        }
    }

    .form-control {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 0px solid $primary;
        border-radius: 0;
        box-shadow: 0 2px 0 0 $primary;

        &:focus {
            border: 0px solid $primary;
            box-shadow: 0 0 0 2px $primary;
            // border-bottom: 0px solid $primary;
            // box-shadow: 0 0 0.8rem 0.25rem $primary;
        }
    }
}

//Imported CSS
.breadcrumb {
    --bs-breadcrumb-padding-x: 0;
    --bs-breadcrumb-padding-y: 0;
    --bs-breadcrumb-margin-bottom: 1rem;
    --bs-breadcrumb-bg: ;
    --bs-breadcrumb-border-radius: ;
    --bs-breadcrumb-divider-color: #6c757d;
    --bs-breadcrumb-item-padding-x: 0.5rem;
    --bs-breadcrumb-item-active-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
    margin-bottom: var(--bs-breadcrumb-margin-bottom);
    font-size: var(--bs-breadcrumb-font-size);
    list-style: none;
    background-color: var(--bs-breadcrumb-bg);
    border-radius: var(--bs-breadcrumb-border-radius);
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: var(--bs-breadcrumb-item-padding-x);
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, "/")
        /* rtl: var(--bs-breadcrumb-divider, "/") */
    ;
}

.breadcrumb-item.active {
    color: var(--bs-breadcrumb-item-active-color);
}

.fixed-top,
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav,
.sb-nav-fixed .sb-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#layoutAuthentication {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#layoutAuthentication #layoutAuthentication_content {
    min-width: 0;
    flex-grow: 1;
}

#layoutAuthentication #layoutAuthentication_footer {
    min-width: 0;
}

#layoutSidenav {
    display: flex;
}

#layoutSidenav #layoutSidenav_nav {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
    transform: translateX(-225px);
}

#layoutSidenav #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -225px;
}